<div class="main">
<form >
    <div>
        <img style="height: 55px;width: 80px; margin-bottom: -30px;" src="../../../assets/download.png" alt="">
    </div>
    <div class="singin">
        Sign in
    </div>
    <div class="heading">
        Use your Google Account
    </div>
    <div class="email">
        <mat-form-field class="Email" appearance="outline">
            <mat-label>Email or phone</mat-label>
            <input matInput  placeholder="">
            <mat-error>email is required</mat-error>
        </mat-form-field>
        <mat-form-field class="Email" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput  placeholder="">
            <mat-error>Password is required</mat-error>
        </mat-form-field>
        
            
            <span>
                <button mat-button color="primary" type="button" style="margin-top: -20px;display: flex; justify-content: start; padding: 0;">Forgot email?</button>
            </span>
        </div>
         
       
   
    <div style="color: #5f6368;;">
        Not your computer? Use Guest mode to sign in privately. 
        <span>
            <button mat-button color="primary" type="button" style="margin-top: -7px;display: flex; justify-content: start; padding: 0;">Learn more</button>
        </span>
    </div>
    <div class="nextbutton">
        <button mat-button color="primary" type="button"> Create account </button>
        <button mat-raised-button color="primary" type="button" style="display: flex; justify-content: center;">Next</button>
    </div>
    </form>    

</div>



















