.main {
    width: auto;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.singin {
    margin-top: 5%;
    font-size: 32px;
}

.heading {
    margin-bottom: 4%;
    font-size: large;
    color: #393333;
}

.email {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}


.Email {
    width: 350px;
    margin-bottom: 0px;
}

.nextbutton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

@media screen and (min-width:320px)and (max-width:480px) {
    .main {
        width: 100%;
        display: flex;
        padding-top: 40px;
        justify-content: flex-start;
        border: 5px solid red;
        align-items: flex-start;
    }
    form {
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border: 1px solid grey;
        border-radius: 10px;
    }
}