<div class="main">
  <form [formGroup]="signupform">
    <div class="firstsection">
      <div>
        <img class="googleimage" src="../../../assets/download.png" alt="">
      </div>
      <span class="create-title">Create your Google Account</span>
      <div class="name-section">
        <div class="name">
          <mat-form-field class="mat-outline" appearance="outline">
            <mat-label>First Name*</mat-label>
            <input matInput formControlName="firstname" placeholder="first Name">
            <mat-error>Name is required</mat-error>
          </mat-form-field>

          <mat-form-field class="mat-outline" appearance="outline">
            <mat-label>Last Name*</mat-label>
            <input matInput formControlName="lastname" placeholder="last Name">
            <mat-error>Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="username">
        <mat-form-field class="mat-outline-user" appearance="outline">
          <mat-label>Email*</mat-label>
          <input matInput formControlName="email" placeholder="username">
          <mat-error>email is required</mat-error>
          <mat-hint>you can use letters, numbers & periods</mat-hint>
        </mat-form-field>
        <a class="current-email" href="">Use my current email instead</a>
      </div>
      <div class="name-section">
        <div class="name">
          <mat-form-field class="mat-outline" appearance="outline">
            <mat-label>password*</mat-label>
            <input matInput formControlName="passward" type="password" [type]="showpassword ? 'text':'password'"
              placeholder="passward">
            <mat-error>password is required</mat-error>
          </mat-form-field>

          <mat-form-field class="mat-outline" appearance="outline">
            <mat-label>Confirm*</mat-label>
            <input matInput formControlName="confirmpassword" type="password" [type]="showpassword ? 'text':'password'"
              placeholder="confirm">
            <mat-error>confirm password is required</mat-error>
          </mat-form-field>
        </div>
        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
      </div>
      <section>
        <mat-checkbox (click)="showpasswords($event)">Show password</mat-checkbox>
      </section>
      <div class="nextbutton">
        <button mat-button color="primary">sing in instead</button>
        <button mat-raised-button color="primary">Next</button>
      </div>
    </div>
    <div class="secondsection">
      <img class="image"  src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="image">
      <span style="margin-top: 10px;">One account. All of google working for you </span>
    </div>

  </form>
</div>