<div class="main">
    <form>
        <div>
            <img style="height: 55px;width: 80px; margin-bottom: -30px;" src="../../../assets/download.png" alt="">
        </div>
        <span class="form-title">Account Recovery</span>
        <span class="form-heading">
            Recover your google account
        </span>
        <div class="email">
            <mat-form-field class="mat-outline" appearance="outline">
                <mat-label>Email or phone</mat-label>
                <input matInput formControlName="email" placeholder="">
                <mat-error>email is required</mat-error>
            </mat-form-field>
        </div>
        <div class="btn">
            <div>
                <button mat-button color="primary" routerLink="/login">Skip</button>
            </div>
            <div>
                <button mat-raised-button color="primary">Next</button>
            </div>
        </div>

    </form>
</div>